<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {siteTitle, rootDomain}) %>
        <link rel="stylesheet" href="/css/auth.css">
</head>

<body class="darkTheme">
    <div class="authHead">
        <div class="navContainer">
            <div class="nav">
                <a href="<%- rootDomain %>">
                    <div class="title">
                        <h1><%- siteTitle %></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Login</h1>
        <form action="/api/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <input type="submit" value="Login">
        </form>
        <% if (locals.error) { %>
            <p class="error-message">
                <%= error %>
            </p>
            <% } %>
                <% if (isPublic) { %>
                    <p class="toggle">Don't have an account? <a href="/register">Register</a></p>
                    <% } %>
    </div>
</body>

</html>