<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {siteTitle, rootDomain}) %>
        <link rel="stylesheet" href="/css/auth.css">
</head>

<body class="darkTheme">
    <div class="authHead">
        <div class="navContainer">
            <div class="nav">
                <a href="<%- rootDomain %>">
                    <div class="title">
                        <h1><%- siteTitle %></h1>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Register</h1>
        <form action="/api/register" method="post">
            <div class="form_group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required pattern="[a-zA-Z0-9_-]{3,20}"
                    title="3-20 characters, letters, numbers, underscores, and hyphens only">
            </div>

            <div class="form_group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required minlength="8" maxlength="128"
                    title="use at least 8 characters, a uppercase letter, a lowercase letter, and a number">
            </div>
            <input type="submit" value="Register">
        </form>
        <% if (locals.error) { %>
            <p class="error-message">
                <%= error %>
            </p>
            <% } %>
                <p class="toggle">Already have an account? <a href="/login">Login</a></p>
    </div>
</body>

</html>