<div class="feature_grid_area">
    <div class="feature_grid_content">
        <div class="feature_grid_text">
            <h3><%- title %></h3>
            <p><%- description %></p>
        </div>
    </div>
</div>