<footer>
    <div class="footer_container main_div_three">
        <div class="footer_content">
            <a href="<%- rootDomain %>"><%- siteTitle %></a>
            <p class="footer_text">Source code available on <a href="https://github.com/SleepingAmi/linkpen">GitHub</a>.
                <span style="font-size: .75rem; line-height: 1rem;">v<%- version %></span>
            </p>
        </div>
    </div>
    <!-- <div class="spacer"></div>    i dont think we need a spacer here? -->
</footer>