<footer style="background-color: #292c3c;">
    <div class="footer_container main_div_three">
        <div class="footer_content">
            <a href="<%- rootDomain %>">linkpen</a>
            <p class="footer_text">Source code available on <a href="https://github.com/SleepingAmi/linkpen">GitHub. </a><span style="font-size: .75rem; line-height: 1rem;">v<%- version %></span></p>
        </div>
        <div class="spacer"></div>
    </div>
</footer>