<div class="handleCreationModule">
    <div class="onboarding_feature_container">
        <div class="onboarding_feature">
            <div
                style="display: flex; box-sizing: border-box; min-width: 0px; -webkit-box-pack: start; justify-content: flex-start;">
                <form autocomplete="off" spellcheck="false" autocapitalize="off" class="onboardingForm">
                    <div class="fancyWrapper">
                        <p><%- siteTitle %>/</p>
                        <input placeholder="yourname"></input>
                    </div>
                    <div class="signup_button_container">
                        <a class="signup_button" href="/register">
                            <div class="inner_signup_button">
                                <span
                                    style="white-space: nowrap; font-size: 14px; font-weight: 400; letter-spacing: 0.01em; line-height: 1.5; color: #232634;">Create
                                    your linkpen</span>
                            </div>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>