
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof pageUser !== 'undefined' ? pageUser.username+" | "+siteTitle : "linkpen"%></title>
    <meta property="og:title" content="<%= typeof pageUser !== 'undefined' ? pageUser.username+" | "+siteTitle : "linkpen"%>">
    <meta property="og:description"
        content="linkpen aims to make short, customizable, link-in-bio's available for everyone. Free, forever. Create a simple link to organise everything you create, curate or sell from anywhere online.">
    <meta property="og:image" content="/img/sNTuUGsyXN2v.png.png">
    <meta property="og:url" content="<%- rootDomain %>">
    <meta property="og:locale" content="en_US">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/img/rxIeE2drCkv1.png">