<div id="page_header_container" role="banner">
    <div class="page_header">
        <div class="page_header_content" width="100%">
            <div class="spacer"></div>
            <div class="page_head_container" style="z-index: 2;">
                <div class="page_head">
                    <div class="page_head_nav">
                        <div class="page_nav">
                            <a aria-current="page" href="<%- rootDomain %>">
                                <div class="page_title">
                                    <h1><%- siteTitle %></h1>
                                </div>
                            </a>
                            <div class="nav_options">
                                <a class="menuitem" href="https://github.com/SleepingAmi/linkpen/tree/main/public/templates">
                                    <div class="nav_option">    
                                        <span style="white-space: nowrap; font-size: 15px; line-height: 1.5;">templates</span>
                                    </div>
                                </a>
                                <a class="menuitem" href="/about">
                                    <div class="nav_option">    
                                        <span style="white-space: nowrap; font-size: 15px; line-height: 1.5;">about</span>        
                                    </div>
                                </a>
                                <a class="menuitem" href="<%- discordInvite %>">
                                    <div class="nav_option">    
                                        <span style="white-space: nowrap; font-size: 15px; line-height: 1.5;">discord</span>        
                                    </div>
                                </a>
                                <a class="menuitem" href="https://github.com/SleepingAmi/linkpen/tree/main/public/docs">
                                    <div class="nav_option">    
                                        <span style="white-space: nowrap; font-size: 15px; line-height: 1.5;">learn</span>        
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="min-width: 0;" class="authbuttons">
                        <div class="auth_btn_container">
                            <div class="auth_btn">
                                <a class="auth_action" href="/auth" target="_self" tabindex="0">
                                    <div class="auth_btn_content">
                                        <span style="white-space: nowrap; text-transform: capitalize; font-size: 16px; font-weight: 400; color: #c6d0f5;">sign up</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>