<div class="main_div_three">
    <div class="open_sauce_banner">
        <h2 class="feature_list_title">Proudly Open Source</h2>
        <p>linkpen is an open source project.<br>The code is available on <a href="https://github.com/sleepingami/linkpen" target="_blank" rel="noopener noreferrer" style="text-decoration: underline !important;">GitHub</a>.</p>
    </div>
</div>