<div class="main_div_three">
    <div class="open_sauce_banner">
        <h2 class="feature_list_title">Proudly Open Source</h2>
        <p>linkpen is an open source project.<br>The code is available on <a href="https://github.com/sleepingami/linkpen" target="_blank" rel="noopener noreferrer" style="text-decoration: underline !important;">GitHub</a>.</p>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
        <script type='text/javascript'>kofiwidget2.init('Donate on Ko-fi', '#8caaee', 'U6U3R5FBS');kofiwidget2.draw();</script> 
    </div>
</div>