* {
    padding: 0;
    margin: 0;
    text-rendering: optimizelegibility;
}

.darkTheme {
    background-color: #303446;
    color: #c6d0f5;
    text-shadow: 1px 1px 2px #000000aa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

.darkTheme h1 {
    color: #c6d0f5;
}

a {
    color: #8caaee;
    text-decoration: none;
}

body {
    min-height: 100%;
    height: auto;
    position: relative;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

div, form {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

div#page_header_container {
    transition: 0.1s ease-in-out;
    min-width: 0px;
    background-color: transparent;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    right: 0px;
}

div#page_header_container .page_header {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -moz-box-pack: center;
    justify-content: center;
}

.page_header_content {
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    max-width: none;
    flex: 1 1 0%;
    width: 100%;
}

.page_head_container {
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: rgba(41, 44, 60, 0.9); /* Thanks @soox-cc for the amazing transparent background w/blur FX! */
    backdrop-filter: blur(20px);
    border-radius: 24px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    position: relative;
}

.page_head {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.page_head_nav {
    min-width: 0px;
    padding: 8px;
}

.page_nav {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -moz-box-align: center;
    align-items: center;
}

.page_title {
    min-width: 0px;
    margin-right: 48px;
    width: 55px;
}

.menuitem {
    text-transform: capitalize;
    min-width: 0px;
    position: relative;
}

.nav_option {
    min-width: 0px;
    padding: 11px 16px;
    border-radius: 8px;
}

.nav_options {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
}

.authbuttons {
    display: block;
}

.authBtns {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    gap: 8px;
}

.auth_btn {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -moz-box-pack: start;
    justify-content: flex-start;
}

.auth_action {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.auth_btn_content::before {
    content: "";
    display: block;
    position: absolute;
    inset: 6px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    z-index: -2;
    transition: none;
    visibility: hidden;
}

.auth_btn_content {
    position: relative;
    z-index: 1;
    background-color: #232634;
    border-radius: 25%;
    min-width: 0px;
    padding: 18px 26px 20px;
}

.main_div_one {
    min-width: 0px;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #303446;
    min-height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}

.main_div_container {
    overflow: hidden;
    min-width: 0px;
    min-height: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.main_div_content {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-pack: center;
    justify-content: center;
}

.slogan_container {
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: none;
    flex: 1 1 0%;
}

.slogan_color {
    min-width: 0px;
    color: #c6d0f5;
}

.slogan_content {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    gap: 16px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.slogan_text_container {
    min-width: 0px;
    width: 100%;
}

.slogan_text_content {
    min-width: 0px;
}

.slogan_text_subcontent {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    justify-content: left;
    margin-top: 16px;
}

.slogan_text_title {
    font-size: 23px;
    font-weight: 800;
    line-height: 1.15;
    text-align: left;
    color: #c6d0f5;
}

.slogan_text_align {
    text-align: left;
}

.slogan_text_style {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #c6d0f5;
}

.handleCreationModule {
    min-width: 0px;
    padding-right: 0px;
    width: 100%;
    font-size: 14px;
}

.onboarding_feature_container {
    min-width: 0px;
}

.onboarding_feature {
    /*margin-left: 8rem;*/          /* For Fancy Shifting */
    min-width: 0px;
    padding: 48px 18px;
    width: 100%;
}

.onboardingForm {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.fancyWrapper {
    background: #c6d0f5;
    display: flex;
    font-weight: 400;
    max-width: 243px;
    position: relative;
    min-width: 0px;
    padding: 19px 16px;
    border-radius: 8px;
}

.fancyWrapper p {
    color: #232634;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 1.5;
}

.fancyWrapper input {
    border: 0px;
    outline: 0px;
    padding: 0px;
    margin: 0px 8px 0px 1px;
    overflow-x: hidden;
    width: 100%;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-weight: 400;
    background: transparent;
}

.signup_button_container {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.signup_button {
    padding: 0px;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.inner_signup_button {
   position: relative;
   z-index: 1;
   background-color: #8caaee;
   border-radius: 28px;
   min-width: 0px;
   padding: 16px 26px 20px; 
}

.main_div_two {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #232634;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.features_text_container {
    text-align: center;
    align-items: center;
    flex-direction: column;
    max-width: 58rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.feature_list_title {
    line-height: 1.1;
    font-size: 1.9rem;
    line-height: 2.2rem;
    margin: 0;
    font-weight: inherit;
}

.feature_list_text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    max-width: 85%;
    margin: 0;
}

.features_grid_container {
    display: grid;
    justify-content: center;
    gap: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.feature_grid_area {
    padding: .5rem;
    background-color: #414559;
    border: 1px solid #292c3c;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.feature_grid_content {
    padding: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.feature_grid_text h3 {
    margin: 0;
    font-size: large;
}

.feature_grid_text p {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: .87rem;
    line-height: 1.25rem;
    margin: 0;
}

.main_div_three {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.open_sauce_banner {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
}

.open_sauce_banner p {
    line-height: 1.75rem;
    font-size: 1.125rem;
}

.footer_container {
    padding: 1.25rem 0px;
    gap: 1rem;
    place-items: center;
    place-content: space-between;
    flex-direction: column;
    display: flex;
}

.footer_content {
    padding: 0px 2rem;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.footer_text {
    line-height: 2;
    font-size: .88rem;
    margin: 0;
}

@media screen and (min-width: 1460px) {
    .page_header_content {
        max-width: 1728px;
        padding-left: 96px;
        padding-right: 96px;
    }
    .page_head_nav {
        padding-left: 24px !important;
    }
    .slogan_container {
        max-width: 1728px;
        padding-left: 96px;
        padding-right: 96px;
    }
    .main_div_two {
        max-width: 1445px;
    }
    .main_div_three {
        max-width: 1400px;
    }
}

@media screen and (min-width: 955px) {
    .page_header_content {
        max-width: 1536px;
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 48px;
    }
    .page_head_container {
        padding: 12px;
    }
    .page_head_nav {
        padding-left: 8px;
    }
    .slogan_container {
        max-width: 1536px;
        padding-left: 48px;
        padding-right: 48px;
    }
    .slogan_content {
        flex-direction: row;
    }
    .slogan_text_container {
        width: 50%;
    }
    .slogan_text_subcontent {
        margin-top: 24px;
    }
    .slogan_text_style {
        margin-bottom: 32px;
    }
    .handleCreationModule {
        width: 50% !important;
    }
    .onboarding_feature {
        padding-left: 48px !important;
        padding-right: 48px !important;
    }
}

@media screen and (min-width: 768px) {
    .page_header_content {
        max-width: none;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
    }
    .page_head_container {
        margin-left: -16px;
        margin-right: -16px;
        padding: 8px;
    }
    .page_head_nav {
        padding-left: 8px;
    }
    .main_div_one {
        min-height: 100vh;
        padding-top: 128px;
        padding-bottom: 128px;
    }
    .main_div_container {
        min-height: auto;
    }
    .slogan_container {
        max-width: none;
        padding-left: 24px;
        padding-right: 24px;
    }
    .slogan_content {
        flex-direction: column;
    }
    .slogan_text_container {
        width: 100%;
    }
    .slogan_text_subcontent {
        margin-top: 24px;
    }
    .slogan_text_style {
        margin-bottom: 32px;
    }
    .handleCreationModule {
        width: 100%;
    }
    .onboarding_feature {
        padding-left: 48px;
        padding-right: 48px;
    }
    .onboardingForm {
        -webkit-box-align: center;
        align-items: center;
    }
    .feature_list_title {
        font-size: 3.7rem;
        line-height: 1;
    }
    .feature_list_text {
        line-height: 1.7rem;
        font-size: 1.1rem;
    }
    .features_grid_container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 64rem;
    }
    .footer_container {
        flex-direction: row;
    }
    .footer_content {
        padding-left: 0;
        padding-right: 0;
        gap: .5rem;
        flex-direction: row;
    }
    .footer_text {
        text-align: left;
    }
}

@media screen and (min-width: 320px) {
    .page_header_content {
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
    .page_head_container {
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
    }
    .page_head_nav {
        padding-left: 8px;
    }
    .main_div_one {
        min-height: auto;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .main_div_container {
        min-height: auto;
    }
    .slogan_container {
        max-width: none;
        padding-left: 24px;
        padding-right: 24px;
    }
    .slogan_content {
        flex-direction: column;
    }
    .slogan_text_container {
        width: 100%;
    }
    .slogan_text_subcontent {
        margin-top: 16px;
    }
    .slogan_text_style {
        margin-bottom: 16px;
    }
    .handleCreationModule {
        width: 100%;
    }
    .onboarding_feature {
        padding-left: 18px;
        padding-right: 18px;
    }
    .onboardingForm {
        align-items: flex-start;
    }
}

@media screen and (max-width: 950px) {
    .authbuttons {
        display: none !important;
    }
    .page_head_nav {
        padding-left: 8px !important;
    }
    .nav_option {
        padding: 11px 1px 11px 10px;
    }
    .fancyWrapper {
        width: 125px;
    }
    /*
        Enable to allow mobile user signup
        Otherwise mobile UI has no navigation to /auth
    */
    /*.handleCreationModule {
        display: none !important;
    }*/
}
