<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {siteTitle, rootDomain}) %>
</head>

<body class="darkTheme">
    <%- include('../partials/header', {siteTitle, discordInvite, rootDomain}) %>

        <div class="main_div_one">
            <div class="main_div_container">
                <div class="main_div_content">
                    <div class="slogan_container">
                        <div class="slogan_color">
                            <div class="slogan_content">
                                <div class="slogan_text_container">
                                    <div class="slogan_text_content">
                                        <div class="slogan_text_title">
                                            <h1>404 - Pen Not Linked</h1>
                                        </div>
                                        <div class="slogan_text_subcontent">
                                            <div class="slogan_text_align">
                                                <div class="slogan_text_style">
                                                    <p>The requested page wasn't found.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer', {siteTitle, rootDomain, version}) %>
</body>

</html>